/*add an image to fill background
*/
body{
  background-color: rgb(183, 240, 241);border-width: 2px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 5px;
  margin-left: 8px;
}


/*Add image of me with round border*/
.imagecontainer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-image:url(img/selfie.jpg);
  float: center;
  background-size: contain;
  width: 250px; 
  height: 200px; 
  border: 2px solid whitesmoke;
  border-radius:50%;
  border-radius:50px; 
  padding:10x; 
  background-repeat:no-repeat; 
  
}
.text-centered {
  text-align: center;
  font-size: 20px
}

main{
  background-color: turquoise; background-image: url(img/water.jpg); background-blend-mode:luminosity; 
  border-block-start-color: black; border-width: 3 px; 
}


/*creating a unified look */

h1 h2 {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; color: black ; font-style:oblique; text-align: center;
font-kerning:inherit; font-size: 80px}

ul ol {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; font-style: italic; list-style-position:inside; font-size: 30px;}

/* adding margins to give a more professional look*/

p {border-block-start-color: turqoise; 
  border-width: 2px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 5px;
  margin-left: 8px;
}

}
/*add psuedo classes to links and repeat colors*/
.linkedin{
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: rgb(0, 17, 255);
}
/* mouse over link */
a:hover {
  color: #FF00FF;
}
/* selected link */
a:active {
  color: rgb(255, 217, 0);
}
}

.github{
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: rgb(0, 17, 255);
}
/* mouse over link */
a:hover {
  color: #FF00FF;
}
/* selected link */
a:active {
  color: rgb(255, 217, 0);
}
}